body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  padding-right: 10px;
}

nav a {
  color: seashell;
  margin: 5px 10px;
}

.banner {
  display: flex;
  position: relative;
  top: 70px;
  height: 800px;
  width: 1200px;
  background-image: url(./../img-mission-background.jpg);
  margin: 0 auto;
  z-index: 5;
}

.banner h2 {
  margin: 0px;
  padding: 10px;
}

.banner h4 {
  margin: 0px;
  padding: 10px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-content span {
  background-color: black;
  width: 1200px;
}

.products {
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 700px;
}

.products h2 {
  margin: 0px;
  padding: 10px;
}

.products h4 {
  margin: 0px;
  padding: 10px;
}

.products img {
  width: 300px;
  height: 200px
}

.images {
  display: inline-flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.image img {
  margin: 10px;
}



.locations {
  display: flex;
  position: relative;
  top: 140px;
  height: 580px;
  width: 1200px;
  background-image: url(./../img-locations-background.jpg);
  margin: 0 auto;
  z-index: 4;
  flex-direction: column;
  align-items: center;
}

.text {
  margin: 0 auto;
  justify-content: center;
  padding-top: 70px;
}

.squares {
  display: inline-flex;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  opacity: 1;
  width: 300px;
  padding: 10px;
  margin: 5px 20px;
}

.location p {
  margin: 22px 0;
}

.location h3 {
  margin: 0px;
  padding: 10px;
}

footer {
  position: relative;
  top: 140px;
  height: 200px;
}

#copyright {
  text-align: left;
  position: relative;
  top: 140px;
  padding-left: 20px;
}
